.slider {
  width: 100%;
}

.slider__photo {
  padding-top: 35px;
  padding-bottom: 35px;
  
  .swiper-wrapper {
    align-items: center;
  }
  
  .swiper-slide {
    position: relative;
    width: 730px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
  
  .swiper-slide-active {
    height: 500px;
    
    &::before {
      display: none;
    }
  }
}

.slider__prev {
  top: 50%;
  left: ~"calc(50% - 500px)";
}

.slider__next {
  top: 50%;
  right: ~"calc(50% - 500px)";
}
